.footer {
    height: 79px;
    background-color: $backBlock;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.address {
    font-weight: 400;
    font-size: 16px;
    color: #fbfbfb;
}

.footer__buttons {
    display: flex;
    gap: 7px;
}

.footer__icon {
    width: 32px;
    height: 32px;
    background-color: $witeBack;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon:hover {
    background-color: $colorSelectSite;
}

.footer__icon:hover path {
    fill: $witeBack;
}

@media (max-width: 1140px) {
    

    .address {
        padding-left: 17px;
    }

    .footer__buttons {
        padding-right: 17px;
    }

    .off {
        display: flex;
    }

    .on {
        display: none;
    }
}

@media (max-width: 736px) {

    .footer {
        height: 143px;
        flex-direction: column-reverse;
    }

    .address {
        padding-left: 0;
        padding-bottom: 11px;
    }

    .footer__buttons {
        padding-right: 0;
        padding-top: 42px;
    }

    .off {
        display: none;
    }

    .mobyle__off {
        display: none;
    }

    .mobyle__on {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

