@import 'vars';
@import 'mixins';
@import 'header';
@import 'footer';
@import 'catalog';
@import 'registration';




summary:hover {
    color: $colorSelectSite;
}

.top-head {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #F8F3F4;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top-head-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: $colorSelectSite;
}

.bread-crumbs__link {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #636363;
}

.bread-crumbs__link__site {
    font-weight: 700;
    color: $colorSelectSite;
}

.title__block {
    /* margin-top: 75px; */
    margin-bottom: 65px;
    background-color: #f1e4e6;
}

.type__block {
    display: flex;
    flex-wrap: wrap;
    gap: $gapGreed;
    justify-content: center;
}

.type__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.type__item__bgrd-1 {
    height: 260px;
    width: 360px;
    background-image: url(img/top_banner_women.jpg);
}

.type__item__bgrd-2 {
    height: 260px;
    width: 360px;
    background-image: url(img/top_banner_men.jpg);
}

.type__item__bgrd-3 {
    height: 260px;
    width: 360px;
    background-image: url(img/top_banner_kids.jpg);
}

.type__item__bgrd-4 {
    height: 180px;
    width: 1142px;
    background-image: url(img/top_banner_accesories.jpg);
}



.type__item__text {
    font-size: 16px;
    font-weight: 400;
    color: $witeBack;
    text-align: center;
}

.type__item__text-1 {
    font-size: 24px;
    font-weight: 700;
    color: $colorSelectSite;
    text-align: center;
}

.title {
    padding-top: 104px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.goods {
    display: grid;
    grid-template-columns: repeat(3, $thirdWidthSite);
    gap: $gapGreed;
    justify-content: center;
}

.item {
    background-color: $cardBack;
}

.item:hover img {
    display: inline;
}

.item__foto {
    position: relative;
}

.hoover__on {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

p {
    max-width: 324px;
    font-weight: 400;
    font-size: 14px;
    color: $grayText;
    margin-top: 20px;
    margin-left: 18px;
}


h1 {
    font-weight: 400;
    font-size: 30px;
    color: $backBlock;
}

h5 {
    font-weight: 400;
    font-size: 14px;
    color: #9f9f9f;
}

h3 {
    max-width: 324px;
    font-weight: 400;
    font-size: 13px;
    color: $blackText;
    margin-top: 24px;
    margin-left: 18px;
}

.paragraph-1 {
    max-width: 324px;
    font-weight: 400;
    font-size: 14px;
    color: $grayText;
    margin-top: 20px;
    margin-left: 18px;
}


h4 {
    font-weight: 400;
    font-size: 16px;
    color: $colorSelectSite;
    margin-top: 20px;
    margin-left: 18px;
    margin-bottom: 24px;
}

.button__block {
    margin-top: 48px;
    margin-bottom: 95px;
    display: flex;
    justify-content: center;
}

.button {
    border: 1px solid $colorSelectSite;
    font-weight: 400;
    font-size: 16px;
    color: $colorSelectSite;
    padding: 16px 40px;
}

.button:hover {
    background-color: $colorSelectSite;
    color: $witeBack;
}



.off {
    display: none;
}

.mobyle__on {
    display: none;
}

@media (max-width: 1140px) {
    .center {
        padding-left: calc(50vw - 368px);
        padding-right: calc(50vw - 368px);
    }

    .header__logo {
        padding-left: 15px;
    }

    .header__buttons {
        padding-right: 15px;
    }

    .burger__menu {
        left: -64px;
    }

    .title__block {
        margin-bottom: 64px;
    }

    .title__foto {
        padding-left: 92px;
    }

    .type__block {
        gap: 20px;
    }

    .type__item__bgrd-1 {
        height: 168px;
        width: 233px;
        background-image: url(img/top_banner_women_mini.jpg);
    }

    .type__item__bgrd-2 {
        height: 168px;
        width: 233px;
        background-image: url(img/top_banner_men_mini.jpg);
    }

    .type__item__bgrd-3 {
        height: 168px;
        width: 233px;
        background-image: url(img/top_banner_kids_mini.jpg);
    }

    .type__item__bgrd-4 {
        height: 118px;
        width: 735px;
        background-image: url(img/top_banner_accesories_mini.jpg);
    }

    .title {
        padding-top: 117px;
        padding-bottom: 73px;
        gap: 13px;
    }

    .goods {
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }

    .button__block {
        margin-top: 33px;
        margin-bottom: 71px;
    }

    .promo__block {
        height: 610px;
        padding-top: 48px;
        padding-bottom: 64px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .subscribe__block {
        display: flex;
        height: 614px;
        flex-direction: column;
        align-items: center;
    }

    .subscribe__text {
        width: 359px;
        padding-left: 0;
    }

    .subscribe__block__content {
        padding-top: 96px;
    }

    .forma {
        padding-right: 0;
    }

    .form {
        padding-bottom: 140px;
    }

    .address {
        padding-left: 17px;
    }

    .footer__buttons {
        padding-right: 17px;
    }

    .off {
        display: flex;
    }

    .on {
        display: none;
    }

}

@media (max-width: 736px) {
    p {
        max-width: 314px;
    }

    h3 {
        max-width: 314px;
    }

    .center {
        padding-left: 8px;
        padding-right: 8px;
    }

    .header__logo {
        padding-left: 94px;
    }

    .header__buttons {
        margin-right: 15px;
    }

    .burger__menu {
        top: 76px;
        left: -168px;
    }

    .title__block {
        height: 363px;
        width: 100vw;
    }

    .top-head {
        padding-top: 24px;
        padding-bottom: 46px;
        flex-direction: column;
        gap: 32px;
    }

    .type__block {
        gap: 32px;
    }

    .type__item__bgrd-1 {
        height: 248px;
        width: 343px;
        background-image: url(img/top_banner_women.jpg);
    }

    .type__item__bgrd-2 {
        height: 248px;
        width: 343px;
        background-image: url(img/top_banner_men.jpg);
    }

    .type__item__bgrd-3 {
        height: 248px;
        width: 343px;
        background-image: url(img/top_banner_kids.jpg);
    }

    .type__item__bgrd-4 {
        height: 111px;
        width: 343px;
        background-image: url(img/top_banner_accesories.jpg);
    }

    .title {
        padding-top: 73px;
        padding-bottom: 65px;
        gap: 13px;
    }

    .goods {
        grid-template-columns: 360px;
        gap: 16px;
    }

    .button__block {
        margin-top: 41px;
        margin-bottom: 85px;
    }

    .subscribe__block {
        height: 550px;
        flex-direction: column;
        align-items: center;
    }

    .subscribe__block__content {
        padding-top: 64px;
    }

    .subscribe__text {
        width: 343px;
    }

    .form {
        padding-bottom: 110px;
    }

    .title__forma__norm {
        font-size: 14px;
        width: 300px;
    }

    .form__button {
        width: 95px;
    }

    .field {
        width: 213px;
    }

    .footer {
        height: 143px;
        flex-direction: column-reverse;
    }

    .address {
        padding-left: 0;
        padding-bottom: 11px;
    }

    .footer__buttons {
        padding-right: 0;
        padding-top: 42px;
    }

    .off {
        display: none;
    }

    .mobyle__off {
        display: none;
    }

    .mobyle__on {
        display: grid;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 374px) {
    .center {
        padding-left: 0;
        padding-right: 0;
    }

    .title__text {
        width: 280px;
        text-align: center;
    }

    .type__item__bgrd-1 {
        height: 231px;
        width: 320px;
        background-image: url(img/top_banner_women.jpg);
    }

    .type__item__bgrd-2 {
        height: 231px;
        width: 320px;
        background-image: url(img/top_banner_men.jpg);
    }

    .type__item__bgrd-3 {
        height: 231px;
        width: 320px;
        background-image: url(img/top_banner_kids.jpg);
    }

    .type__item__bgrd-4 {
        height: 103px;
        width: 320px;
        background-image: url(img/top_banner_accesories.jpg);
    }

    .goods {
        grid-template-columns: 320px;
        gap: 16px;
    }

    .subscribe__text {
        width: 300px;
    }

    .forma {
        grid-template-columns: 320px;
    }

    .field {
        width: 157px;
    }

    .form {
        padding-bottom: 110px;
        padding-left: 10px;
    }

}
